
pi/config.py
pi/lib/test_comunicate.sh
pi/lib/tests/__init__.py
pi/lib/tests/config.py
pi/lib/tests/test_bme280.py
pi/lib/tests/test_camera.py
pi/lib/tests/test_gps.py
pi/lib/tests/test_myutils.py
pi/lib/tests/test_si1145.py
pi/lib/tests/test_tsl2591.py
tools/config.py
tools/tests/20170414112609.field.txt
tools/tests/20170414112609.gps.txt
tools/tests/20170430101612.gps.txt
tools/tests/__init__.py
tools/tests/test_fieldfile.py
tools/tests/test_gpsfile.py
web/lib/__pycache__/__init__.cpython-35.pyc
web/lib/__pycache__/db.cpython-35.pyc
web/lib/__pycache__/results.cpython-35.pyc
web/lib/__pycache__/sugegasakundata.cpython-35.pyc
web/lib/__pycache__/__init__.cpython-36.pyc
web/lib/__pycache__/config.cpython-36.pyc
web/lib/__pycache__/db.cpython-36.pyc
web/lib/__pycache__/results.cpython-36.pyc
web/lib/__pycache__/sugegasakundata.cpython-36.pyc
web/lib/config.py
web/lib/tests/__init__.py
web/lib/tests/test_bme280.py
web/lib/tests/test_db.py
web/lib/tests/test_sugegasakundata.py
web/lib/tests/__pycache__/__init__.cpython-36.pyc
web/lib/tests/__pycache__/test_db.cpython-36.pyc
*.pyc
