<!--
    菅笠くんデータ on Web
    base.html

    templateのbase

    1.0.0   mfkd    Created
-->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>菅笠くん[Internet of TenkaraFishing]</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">菅笠くんデータ照会</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/where">どこに行った？</a></li>
                    <li><a href="/when">いつ行った？</a></li>
                </ul>    
            </div>
        </div>
        <div style="margin-bottom:70px;"></div>
        {% block contents %}
            <!-- テンプレートに定義 -->
        {% end %}
    </body>
    <script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
</html>
