<!--
    菅笠くんデータ on Web
    summary.html

    /summary

    1.0.0   mfkd    Created
-->
{% extends base.html %}

{% block contents %}
<div class="container">
  <form id="f" name="f" method="POST">
    <script>
      function generate_query() {
        var graph_val_kb = $("#graph_val_kb").val();
        var year = $("#year").val();
        var month = $("#month").val();
        q = "/summary?graph_val_kb=" + graph_val_kb + "&year=" + year + "&month=" + month; 
        location.href = q;
      };
    </script>
    <div class="col-xs-1">
      <div class="row" style="padding-left: 2px;padding-right: 2px;">
        <div class="form-group">
          <label for="graph_val_kb">種類：</label>
          <input type="text" name="graph_val_kb" value="{{ graph_val_kb }}" id="graph_val_kb" placeholder="場所を入力..." class="form-control" /> 
        </div>
        <div class="form-group">
          <label for="day">年：</label>
          <input type="text" name="year" value="{{ year }}" id="year" placeholder="年を入力..." class="form-control" /> 
        </div>
        <div class="form-group">
          <label for="day">月：</label>
          <input type="text" name="month" value="{{ month }}" id="month" placeholder="月を入力..." class="form-control" /> 
        </div>
        <input type="button" class="btn btn-block btn-success" value="の状況は？" onclick="generate_query();" />
      </div>
    </div>
    <div class="col-xs-11">
      <div class="row" style="padding-left: 2px;padding-right: 2px;">
      </div>
    </div>
  </form>
</div>
{% end %} 

