<!--
    菅笠くんデータ on Web
    trace.html

    /trace/yyyy-mm-dd?seq=n

    1.0.0   mfkd    Created
-->
{% extends base.html %}

{% block contents %}
<div class="container">
  <div class="row" style="margin-left:2px;margin-right:2px;">
    <table class="table table-condensed table-striped table-hover">
      <tr>
          <th>日付</th>
          <th>時間帯</th>
          <th>場所</th>
          <th style="text-align: right;">気温</th>
          <th style="text-align: right;">湿度</th>
          <th style="text-align: right;">気圧</th>
          <th style="text-align: right;">UV INDEX</th>
          <th style="text-align: right;">明るさ</th>
      </tr>
    </table>
  </div>
  <div class="row" style="margin-left:2px;margin-right:2px;">
    <img src="https://maps.googleapis.com/maps/api/staticmap?size={{ size }}&scale={{ scale }}&maptype={{ maptype }}&path={{ path }}&key={{ key }}" />
  </div>  
</div>
{% end %} 

