<!--
    菅笠くんデータ on Web
    where.html

    /where

    1.0.0   mfkd    Created
-->
{% extends base.html %}

{% block contents %}
<div class="container">
  <form id="f" name="f" method="POST">
    <script>
      function search() {
        var month   = $("#month").val();
        var keyword = $("#keyword").val();
        if (month != "") {
          var url = "/monthlist/" + month;
          if (keyword != "") {
            url += "?keyword=" + keyword;
          }
          location.href = url;
        }
      };
    </script>
    <div class="col-xs-1">
      <div class="row" style="padding-left: 10px;padding-right: 5px;">
        <div class="form-group">
          <label for="month">月：</label>
          <input type="text" name="month" value="{{ month }}" id="month" placeholder="月を入力..." class="form-control" /> 
        </div>
        <div class="form-group">
          <label for="day">日：</label>
          <input type="text" name="day" value="{{ day }}" id="day" placeholder="日を入力..." class="form-control" /> 
        </div>
        <div class="form-group">
          <label for="day">年：</label>
          <input type="text" name="year" value="{{ year }}" id="year" placeholder="年を入力..." class="form-control" /> 
        </div>
        <input type="submit" class="btn btn-block btn-success" value="どこ行った？" />
      </div>
    </div>
    <div class="col-xs-11 style="margin-left: 5px;margin-right: 10px;"">
      <div class="row" style="padding-left: 5px;padding-right: 10px;">
        <table class="table table-condensed table-striped table-hover">
          <tr>
              <th>日付</th>
              <th>時間帯</th>
              <th>場所</th>
              <th style="text-align: right;">気温</th>
              <th style="text-align: right;">湿度</th>
              <th style="text-align: right;">気圧</th>
              <th style="text-align: right;">UV INDEX</th>
              <th style="text-align: right;">明るさ</th>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
{% end %} 

